@smartbonds:registry=https://northamerica-northeast2-npm.pkg.dev/poc-development-419102/smartbonds-repo/
//northamerica-northeast2-npm.pkg.dev/poc-development-419102/smartbonds-repo/:always-auth=true
registry=https://registry.npmjs.org
